<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.githubuser">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dummy_pict"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dummy_pict"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailUser" android:theme="@style/Theme.AppCompat.NoActionBar" android:noHistory="true"/>
    </application>

</manifest>